doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Five day forecast 
        <base href="/">
        link(rel="stylesheet", href="views/css/style.css")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Open+Sans:300')

    body
        .container
            <fieldset>
            <form action="/" method="post">
                <input name="city" type="text" class="ghost-input" placeholder="What City can we look up?" required>
                <input type="submit" class="ghost-button" value="Get Weather">
            </form>
            </fieldset>